<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>academus</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ExcluirMatrizController</servlet-name>
  	<servlet-class>br.ufc.russas.n2s.academus.controller.ExcluirMatrizController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VisualizarMatrizController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.VisualizarMatrizController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AtualizarMatrizController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.AtualizarMatrizController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcluirDisciplinaController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.ExcluirDisciplinaController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarDisciplinaController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.EditarDisciplinaController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastrarMatrizController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.CadastrarMatrizController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarDisciplinaController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.BuscarDisciplinaController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarDisciplinasController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.ListarDisciplinasController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarMatrizController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.ListarMatrizController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sair</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.Sair</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarMatrizesController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.EditarMatrizesController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Autenticar</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.Autenticacao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastrarDisciplinaController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.CadastrarDisciplinaController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastrarSolicitacaoController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.CadastrarSolicitacaoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarMatrizController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.BuscarMatrizController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InicioController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.InicioController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VisualizarSolicitacaoController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.VisualizarSolicitacaoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastrarCursoController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.CadastrarCursoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnaliseSecretarioController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.AnaliseSecretarioController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnalisandoCoordenadorController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.AnalizandoCoordenadorController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AtribuirCoordenadoresController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.AtribuirCoordenadoresController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AtualizarSolicitacaoController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.AtualizarSolicitacaoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarSolicitacaoController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.EditarSolicitacaoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BotoesVisualizarController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.BotoesVisualizarController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExcluirMatrizController</servlet-name>
  	<url-pattern>/ExcluirMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisualizarMatrizController</servlet-name>
    <url-pattern>/VisualizarMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AtualizarMatrizController</servlet-name>
    <url-pattern>/AtualizarMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcluirDisciplinaController</servlet-name>
    <url-pattern>/ExcluirDisciplina</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarDisciplinaController</servlet-name>
    <url-pattern>/EditarDisciplina</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastrarMatrizController</servlet-name>
    <url-pattern>/CadastrarMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuscarDisciplinaController</servlet-name>
    <url-pattern>/BuscarDisciplina</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarDisciplinasController</servlet-name>
    <url-pattern>/ListarDisciplinas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarMatrizController</servlet-name>
    <url-pattern>/ListarMatrizes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Autenticar</servlet-name>
    <url-pattern>/autentica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastrarDisciplinaController</servlet-name>
    <url-pattern>/CadastrarDisciplina</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastrarSolicitacaoController</servlet-name>
    <url-pattern>/CadastrarSolicitacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuscarMatrizController</servlet-name>
    <url-pattern>/BuscarMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InicioController</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisualizarSolicitacaoController</servlet-name>
    <url-pattern>/VisualizarSolicitacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastrarCursoController</servlet-name>
    <url-pattern>/CadastrarCurso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnaliseSecretarioController</servlet-name>
    <url-pattern>/AnaliseSecretario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnalisandoCoordenadorController</servlet-name>
    <url-pattern>/AnaliseCoordenador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarMatrizesController</servlet-name>
    <url-pattern>/EditarMatriz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AtribuirCoordenadoresController</servlet-name>
    <url-pattern>/AtribuirCoordenadores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AtualizarSolicitacaoController</servlet-name>
    <url-pattern>/AtualizarSolicitacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarSolicitacaoController</servlet-name>
    <url-pattern>/EditarSolicitacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BotoesVisualizarController</servlet-name>
    <url-pattern>/BotoesVisualizar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sair</servlet-name>
    <url-pattern>/Sair</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GerenciarAnexosController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.GerenciarAnexosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciarAnexosController</servlet-name>
    <url-pattern>/SalvarAnexos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadAnexosController</servlet-name>
    <servlet-class>br.ufc.russas.n2s.academus.controller.DownloadAnexosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAnexosController</servlet-name>
    <url-pattern>/DownloadAnexos</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GerenciarPerfisController</servlet-name>
  	<servlet-class>br.ufc.russas.n2s.academus.controller.GerenciarPerfisController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GerenciarPerfisController</servlet-name>
  	<url-pattern>/GerenciarPerfis</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditarPerfisController</servlet-name>
  	<servlet-class>br.ufc.russas.n2s.academus.controller.EditarPerfisController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditarPerfisController</servlet-name>
  	<url-pattern>/EditarPerfis</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>setCharacterEncodingFilter</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter>
    <filter-name>FiltroAutenticado</filter-name>
    <filter-class>br.ufc.russas.n2s.academus.filter.AutenticadoFiltro</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>setCharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltroAutenticado</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>